<main>
  <div class="title d-flex align-items-center justify-content-between position-fixed">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to(:back) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div class="xyz d-flex flex-column px-5">
        <h1 class="lh-1"><%= @profile.user.name %></h1>
        <p class="lh-1 mb-0"><%= @profile.user.tweets.count %> tweets</p>
      </div>
    </div>
  </div>
  <div class="cont d-flex flex-column">
    <%= image_tag "banner.jpg", size: "600x200", class: "banner" %>
    <%= image_tag "user-icon.png", class: "profile-pic" %>
  </div>
  <div class="following-bar d-flex justify-content-around align-items-center">
    <%= link_to(root_path) do %>
      <i class="fas fa-ellipsis-h"></i>
    <% end %> 
    <%= link_to(root_path) do %>
      <i class="far fa-bell"></i>
    <% end %> 
    <% if current_user.followed_users.include?(@profile.user) %>
      <%= link_to "Unfollow", unfollow_path(@profile.user.id), id: "follow-button" , method: 'DELETE' %>
    <% else %>
      <%= link_to "Follow", follow_path(@profile.user.id), id: "follow-button", method: 'POST' %>
    <% end %>
  </div>

  <div class="general-info px-3 my-3">
    <h1><%= @profile.user.name %></h1>
    <p>@<%= @profile.user.username %></p>
    <p><%= @profile.description %></p>
    <div class="details d-flex">
      <% if @profile.location != nil %>
        <span><i class="fas fa-map-marker-alt"></i><%= @profile.location %></span>
      <% end %>
      <% if @profile.link != nil %>
        <%= link_to nil do %>
        <i class="fas fa-link"></i><%= @profile.link %>
        <% end %>
      <% end %>
      <span><i class="far fa-calendar-alt"></i> born on: <%= format_date(@profile.user.created_at) %></span>
    </div>
    <div class="follow-counter d-flex my-1">
      <span><strong>1.234</strong> Following</span>
      <span class="mx-3"><strong>147,8 k</strong> Followers</span>
    </div>
  </div>
  
  <div class="profile-tweets">
    <% @profile.user.tweets.each do |tweet| %>
      <%= render tweet %>
    <% end %>
  </div>
</main>
<div>
  <%= render 'tweets/trending' %>
</div>