<div class="feed">
  <% @tweets.each do |tweet| %>
    <div class="tweet d-flex">
      <%= image_tag "user-icon.png", size: "75x75", class: "poster-avatar" %>
      <div class="tweet-content w-100">
        <div class="tweet-header d-flex flex-fill justify-content-between">
          <%= link_to(root_path) do %>
            <%= tweet.user.name %>
            <i class="fas fa-certificate"></i>
            <span>@<%= tweet.user.username %></span>
            <span class="tweet-time"> - 7h</span>
          <% end %> 
          <div class="myDropdown">
            <a href="#" class="ellipsis btn btn-light" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% if (tweet.user == current_user) %>
                <li><%= link_to "Delete", tweet_path(tweet.id), :method => :delete, class: "dropdown-item" %></li>
                <li><%= link_to "Edit", root_path, class: "dropdown-item disabled" %></li>
              <% else %>
                <li><%= link_to "Action1", root_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <p class="tweet-body">
          <%= tweet.body %>
        </p>
      </div>
    </div>
  <% end %>
</div>