<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= alert %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

<!-- SIDEBAR --->
    <nav class="position-fixed d-flex flex-column align-items-end justify-content-between">
        <ul> 
          <li>
            <%= link_to root_path, class: "nav-link" do %> 
              <i class="fab fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fab fa-twitter"></i>
              <span>Home</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fab fa-twitter"></i>
              <span>Explore</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fab fa-twitter"></i>
              <span>Notifications</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fab fa-twitter"></i>
              <span>Messages</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fab fa-twitter"></i>
              <span>Bookmarks</span>
            <% end %>
          </li>
        </ul>
        <div class="logged-user d-flex flex-column align-items-end align-self-end">
          <% if user_signed_in? %>
            <%= link_to "Account Settings", edit_user_registration_path %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %> 
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
